/** @format */
.whiteText {
	color: white !important;
	margin-top: 0 !important;
	margin-bottom: 0.75rem !important;
}

.splashContatiner {
	height: 70vh;
	width: 95%;
	margin-left: 15px;
}

.some-page-wrapper {
	margin: 15px;
	background-color: red;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 2;
}
.double-column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 5;
}
