/** @format */
@import "Home.module.scss";
@import "Admin.module.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import url("https://use.typekit.net/jmo3enq.css");

@font-face {
	font-family: "Fira Sans Condensed", sans-serif;
	src: url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800&display=swap");
}
@font-face {
	font-family: "adelle";
	src: url("https://use.typekit.net/af/e0617b/000000000000000077359943/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
			format("woff2"),
		url("https://use.typekit.net/af/e0617b/000000000000000077359943/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
			format("woff"),
		url("https://use.typekit.net/af/e0617b/000000000000000077359943/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
			format("opentype");
	font-display: auto;
	font-style: normal;
	font-weight: 700;
}

$font-family-sans-serif:    "Fira Sans Condensed", sans-serif!default;
$font-family-monospace:      "adelle"  !default;
// stylelint-enable value-keyword-case
$font-family-base:            var(--#{$variable-prefix}font-sans-serif) !default;
$font-family-code:            var(--#{$variable-prefix}font-monospace) !default;

$red: #e52d27;
$green: #12d900;
$activegreen: #10b981;
$wind-i-green: #36510e;
$yellow: #f2ca3e;
$orange: #8d2f0d;
$ai-i-blue: #8fdaef;
$ai-ii-blue: #d0f7fc;
$ai-iii-blue: #9bf2ea;
$primary: #00035a !important;
$i-dark: #001d3b;
$ii-dark: #000002;


html,
body {
	padding: 0;
	margin: 0;
	font-family: "adelle", serif, "Fira Sans Condensed", sans-serif, "proxima",
		"Quicksand";
	font-size: 20px;
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: 31.671875px;
	background: #00035a;
	width: 100%;
	height: 100%;
}

body{
	min-height:100vh;
	display: flex;
	flex-direction: column;
}


html{
	font-family: "adelle", serif !important;
}

html h1,html h2{
	font-family: "adelle", serif!important;
} 

html p{
	font-family: "Fira Sans Condensed", sans-serif,!important;
} 

.height-75{
	height: 60vh!important;
	margin-bottom: 5vh;
}

.section-index-card{
	background-color:transparent;
}


.form-button{
	font-family: "adelle";
    background-color: $activegreen;
    display: inline-block;
    width: 70%;
    color: #001d3b !important;
    border-radius: 4px !important;
    margin: 20px 13%;
    border: 2.8px #001d3b;
   box-shadow: inset 0 -3em 3em rgb(0 0 0 / 10%), 0 0 0 2px white, 0.3em 0.3em 1em rgb(0 0 0 / 30%);
}

.app-responsive-wrapper-outer {
	display: flex;
	justify-content: center;
	align-content: center;
	height: 100%;
}

.app-responsive-wrapper-inner {
	height: 100%;
	width: 100%;
	max-height: 600px;
	max-width: 600px;
}

.rec-dot_active {
	background-color: #00035a !important;
}

.box-shadow-1 {
	box-shadow: 0 0 4px 0 #00035a;
}

.FiraFont {
	font-family: "Fira Sans Condensed";
}

* {
	box-sizing: border-box;
}

.container {
	min-height: 60vh;
	padding: 0 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.container_2 {
	width: 100%;
    margin-left: 0px;
		display: flex;
		min-height: fit-content;
    padding: 2rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 28rem;
  //  background: -webkit-radial-gradient(at 99% 1%, #1fb8ff 2%, #d0f7fc 44%);
  //  background: radial-gradient(at 99% 1%, #1fb8ff 2%, #d0f7fc 44%);
//	transform: skewY(6.2deg);
}

@media (min-width: 800px)  {
	.container_2 {
		width: 100%;
	margin-left: 0px;
	display: block;
	min-height: fit-content;
	padding: 2rem 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-top: 4rem!important;
	}
}

.homeSkew {
	//transform: skewY(-6.2deg);
	min-height: fit-content;
}

.home-card{
	width: 310px!important;
	height: 400px!important;
	margin-left: 0px;
}

.product-card{
		background-color: $ai-ii-blue!important;
    color:$i-dark!important;
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 8px;
    box-shadow: 0px 1px 1px $ai-ii-blue 0px 1px 2px $ai-ii-blue!important;
    overflow: hidden;
		min-width: 94% !important;
    max-width: 100%!important;
    height: auto!important;
    margin-left: 0px;
    margin-bottom: 50px!important;
}

.product-box{
	max-width:94%;
	min-width:600px;
	margin:0 auto!important;
}

.detailCard {
	background-image: url(/card_background.svg)!important;
	background-size: cover;
	background-position: center center;
	max-width:88%!important;
	height: auto;

}

.card-wrapper {
	display: flex;
	flex-direction: row;
	height:460px;
}

.main {
	padding: 5rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
}

// nav {
// 	padding: 15px;
// 	background: #00035a;
// 	font-family:"adelle",serif!important;
// }

.nav_img {
	display: inline-block;
	max-height: 72px !important;
	height: 72px;
	width: auto !important;
}

.navbar {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center!important;
	justify-content: space-between;
	padding-top: 0.5 rem;
	padding-bottom: 0.5 rem;
	width: 100%;
	z-index: 12;
	background: radial-gradient(at 99% 1%, #1fb8ff 2%, #00035a 44%)!important;
//	background:$i-dark!important;
}

// .navbar-expand-lg {
// 	flex-wrap: nowrap;
// 	justify-content: flex-start;
// }

// .navbar-collapse {
// 	flex-basis: 100%;
// 	flex-grow: 1;
// 	align-items: center;
// }

.navbar-nav {
	align-items: center!important;
 	display: flex;
 	flex-direction: row;
// 	padding-left: 0;
// 	margin-bottom: 0;
 	list-style: none;
	gap: 80px;
	margin-right: 40px!important;
 }

.navbar-nav {
	margin-left: auto!important;
}

// .navbar-expand-lg .navbar-collapse {
// 	display: flex !important;
// 	flex-basis: auto !important;
// }
.justify-content-center{
	display:flex;  
justify-content: center;  
}

.justify-content-end {
	justify-content: flex-end !important;
}

nav a {
	color: $ai-ii-blue;
	text-decoration: none;
	margin-left: 20px;
	font-weight: 500;
	font-size: 30px;
}

nav a:hover, a:hover {
	color: $yellow !important;
	transition: 850ms;
}

nav.dashboard {
	background: #f3f1f1;
	padding: 8px;
}

.navbar-brand-text {
	font-family: "Quicksand";
	display: inline-block;
	margin-left: 0 !important;
	margin-right: 15px !important;
	font-size: 24px !important;
	color: $ai-ii-blue !important;
}

a.navbar-brand {
	color: $ai-ii-blue !important;
}

.typewriter {
	display: block;
	overflow: hidden;
	justify-content: center;
}

.footer {
	width: 100%;
	height: 100px;
	border-top: 1px solid $ii-dark;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.title a {
	color: $wind-i-green;
	text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
	text-decoration: underline;
}

.title {
	margin: 0;
	line-height: 1.15;
	font-size: 4rem;
}

.title,
.description {
	text-align: center;
}

.description {
	line-height: 1.5;
	font-size: 1.5rem;
}

.code {
	background: #fafafa;
	border-radius: 5px;
	padding: 0.75rem;
	font-size: 1.1rem;
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 800px;
	margin-top: 3rem;
}

.app-wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	background: radial-gradient(at 99% 1%, #1fb8ff 4%, #00035a 44%);
}

.header{
	border: 2px $ai-ii-blue solid!important;
}

header, .main-wrapper, .footer-wrapper{
	flex-shrink: 0;
}

main{
	flex-grow: 1;
	display: block;
	max-width: 98%;
	min-width:600px;
	margin:0 auto!important;
 padding-top: 3rem;
 padding-bottom: 3rem;
}

nav.dashboard {
	background: #f3f;
	padding: 8px;
}

.carousel-wrapper{
	position: relative;
    user-select: auto;
    margin: 0px auto 0px 0px;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 260px;
    box-sizing: border-box;
    flex-shrink: 0;
  	border: #d0f7fc 2px white;
	  overflow: hidden;
}

.footer-box{
	padding: 80px 60px;
	background: $ii-dark;
	position: relative;
	bottom: 0;
	width: 100%;
	
	@media (max-width: 1000px) {
		padding: 70px 30px;
	}
}

.footer-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1000px;
	margin: 0 auto;
}

.footer-column{
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-left: 60px;
}

.footer-row{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
	grid-gap: 20px;

	@media (max-width: 1000px) {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}
}



.footer-link {
	color: #d0f7fc;;
	margin-bottom: 20px;
	font-size: 18px;
	text-decoration: none;

	&:hover {
		color: $yellow;
		transition: 200ms ease-in;
	}
}

.footer-heading{
	font-size: 24px;
	color: #fff;
	margin-bottom: 40px;
	font-weight: bold;
}

.card {
	margin: 1rem;
	padding: 1.5rem;
	text-align: left;
	color: inherit;
	text-decoration: none;
	border: 1px solid $i-dark;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
	width: 45%;
}

.form-container{
  margin-bottom: 5rem!important;
}

form {
	max-width: 500px;
	margin: 0 auto;
	background: var(--theme);
	color: black !important;
}

form p {
	color: var(--red);
}

form p::before {
	display: inline;
	content: "⚠ ";
}

form input {
	display: block;
	box-sizing: border-box;
	width: 90%;
	border-radius: 4px;
	border: 3px solid $primary;
	margin: 0 auto;
	padding: 10px 15px;
	margin-bottom: 10px;
	font-size: 14px;
}

.message {
	margin-top: 20px;
	font-size: 17px;
}

.success {
	color: var(--blue);
}

.error {
	color: var(--pink);
}

label {
	line-height: 2;
	text-align: left;
	display: block;
	margin-bottom: 13px;
	margin-top: 20px;
	margin: 0 29px;
	color: white;
	font-size: 20px;
	font-weight: 200;
}

.css-1s2u09g-control {
	color: black !important;
}

	button[type=submit], input[type=submit] {
    background: radial-gradient(at 99% 1%, #e52d27 2%, #f2ca3e 74%);
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    border: none;
    margin: 40px 30%;
    font-weight: 100;
    letter-spacing: 10px;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
	background: $activegreen!important;
	transition: all 1s ease 0.5s;
}

.disabled,
input[type="button"]:active,
input[type="submit"]:active {
	transition: 0.3s all;
	transform: translateY(3px);
	border: 1px solid transparent;
	opacity: 0.8;
}

input:disabled {
	opacity: 0.4;
}

input[type="button"]:hover {
	transition: 0.3s all;
}

button[type="submit"],
input[type="button"],
input[type="submit"] {
	-webkit-appearance: none;
}

.card:hover,
.card:focus,
.card:active {
	color: $yellow;
	border-color: $i-dark;
}

.active{
  color: $activegreen !important;
}

.btn_primary, .btn_secondary{
font-family: "adelle";
}

.logout-btn{
	color: $ii-dark!important;
	background-color: $yellow!important;
	border: $ai-ii-blue 3px solid;

}

.logout-btn a{
	color: #00035a!important;
}

.logout-btn:hover{
	background-color: $red!important;
	color: #00035a!important;
}

.css-1ka9ryr-MuiButtonBase-root-MuiButton-root{
	font-family: "Fira Condensed Sans"!important;
	color: $ai-ii-blue!important;
   margin-top: -14px!important;
	 padding:4px 14px!important;
	 background-color: #001d3b!important;
}

.card h2 {
	margin: 0 0 1rem 0;
	font-size: 1.5rem;
}

.card p {
	margin: 0;
	font-size: 1.25rem;
	line-height: 1.5;
}

.logo {
	height: 1em;
	margin-left: 0.5rem;
}

.admin-bg{
	background: radial-gradient(at 99% 1%, #1fb8ff 2%, $ai-ii-blue 44%); ;
}

.admin-nav div {
	color: #000002!important;
}

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}

/*rotate image-03 css*/
.rotate_03 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 150px;
	height: 150px;
	margin: -60px 0 0 150px;
	-webkit-animation: spin 2s linear infinite;
	-moz-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

/*use keyframes*/
@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

/** @format */
.mediaCard{
	height: 150px !important;
    background-size: contain !important;
    background-position: center center;
    object-fit: scale-down!important;
}
.CardButton {
	background-color: $primary ;
	color: white !important;
	font-size: 1rem !important;
}
.rec.rec-arrow {
	border-radius: 0;
	background: white;
}

.product-container {
	display: flex;
	flex-wrap: wrap;
	min-width: 98% !important;
	margin: 0 auto;
	flex-direction: row;
}

.ratio-4-3 {
	width: 100%;
	position: relative;
	// background: url() 50% 50% no-repeat;
	background-size: cover;
	background-clip: content-box;
}
.ratio-4-3:before {
	display: block;
	content: "";
	padding-top: 75%;
}

$link-hover-color: rgba(255, 255, 255, 0.6);

a {
	&:hover {
		color: $link-hover-color !important;
		text-decoration: $link-hover-decoration;
	}
}

// And undo these styles for placeholder links/named anchors (without href).
// It would be more straightforward to just use a[href] in previous block, but that
// causes specificity issues in many other styles that are too complex to fix.
// See https://github.com/twbs/bootstrap/issues/19402

a:not([href]):not([class]) {
	&,
	&:hover {
		color: $link-hover-color;
		text-decoration: none;
	}
}
